.topSection {
  margin-bottom: 32px;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.refreshButton {
  @media (max-width: 600px) {
    margin-bottom: 16px;
  }
}

.selectedAudio {
  @media (max-width: 600px) {
    width: 100%;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;

    audio {
      width: 100%;
    }
  }
}
